.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.vercel
/.firebase
.vercel

# Storybook Default Items
src/stories/Button.stories.ts
src/stories/Button.svelte
src/stories/Configure.mdx
src/stories/header.css
src/stories/Header.stories.ts
src/stories/Header.svelte
src/stories/button.css
src/stories/page.css
src/stories/Page.stories.ts
src/stories/Page.svelte
src/stories/assets/accessibility.png
src/stories/assets/accessibility.svg
src/stories/assets/addon-library.png
src/stories/assets/assets.png
src/stories/assets/context.png
src/stories/assets/discord.svg
src/stories/assets/docs.png
src/stories/assets/figma-plugin.png
src/stories/assets/github.svg
src/stories/assets/share.png
src/stories/assets/styling.png
src/stories/assets/testing.png
src/stories/assets/theming.png
src/stories/assets/tutorials.svg
src/stories/assets/youtube.svg

# Firebase Default Items
firestore-debug.log
firebase-debug.log
ui-debug.log
emulator-data/
